[Unit]
Description=Remote Control setup  autostart
After=graphical.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pilot
WorkingDirectory=/home/pilot/weather_station
ExecStart=/home/pilot/weather_station/tools/start_remote_control.sh

[Install]
WantedBy=multi-user.target
